a {
    color: #e9f3fa;
    text-decoration: none;
    font-size: 35px; }
a:hover {
    color: #ff6cd3; }

body {
    background: #2a45ff;
    padding-left: 30px; }

p {
    font-family: "Comic Sans MS";
    color: #e0ddd8;
    padding: 25px;
    border: 1px solid #69ff1e;
    border-top-left-radius: 4px;
    font-size: 30px; }
